dep
*.o
Makefile.local
decode
class-decode
class-ip-decode
wsw-decode
wgraph
swgraph
lwbswgraph
rwbswgraph
lrwbswgraph
swwgraph
lastates
runtests
cleanlex
clastates
segment
nbest-rescore-am
.project
.cproject
.settings
.settings/*
.idea
speechdat*.txt
lm-*
score
*.cfg
speechdat
swsw
words
aaltoasr
cmd.txt
lasc
latables
*.exe
zconf.h
zlib.h
