dep
*.o
decode
wgraph
swgraph
lwbswgraph
rwbswgraph
swwgraph
lastates
runtests
cleanlex
segment
.project
.cproject
.settings
.settings/*
speechdat*.txt
lm-*
score
*.cfg
speechdat
swsw
words
aaltoasr
cmd.txt
lasc
latables
