dep
*.o
Makefile.local
decode
class-decode
class-ip-decode
wsw-decode
wgraph
swgraph
lwbswgraph
rwbswgraph
lrwbswgraph
swwgraph
lastates
runtests
cleanlex
segment
nbest-rescore-am
score
lasc
latables
.project
.cproject
.settings
.settings
.idea
*.cfg
*.exe
